<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
    <img src="../../assets/smiles.jpg">
    </ion-card-content>
  </ion-card>

  <p class="heading">
    Chương trình Phát quà Đồng phục
  </p>

  <p class="item">
    <ion-icon class="zmdi zmdi-card-giftcard ion-text-center"></ion-icon>
    Nhóm Từ thiện Nha Trang trân trọng thông báo. Trong năm học 2021-2022, nhóm có tổ chức một chương trình Phát quà Đồng phục cho học sinh các trường Tiểu học trong tỉnh Khánh Hòa và Quảng Ngãi.
  </p>
  <p class="item">
    <ion-icon class="zmdi zmdi-info ion-text-center"></ion-icon>
    Các thầy cô, ban Giám hiệu quan tâm xin liên lạc với chúng tôi. Xin tham khảo nội dung và các hoạt động của chương trình được trình bày chi tiết trong ứng dụng.
  </p>
  
  <p class="item">
    <ion-icon class="zmdi zmdi-card-giftcard ion-text-center"></ion-icon>
    Nhóm sẽ ưu tiên phát quà cho các trường có học sinh với chỉ số thiếu 'Dinh dưỡng' lớn nhất. Xem mục <b>'Dinh dưỡng'</b>.
  </p>

  <p class="item">
    <ion-icon class="zmdi zmdi-info ion-text-center"></ion-icon>
    Trân trọng thông báo và xin quảng bá rộng rãi.
  </p>

</ion-content>
